$color-1:#1b434b;
$color-2:#965936;
$color-text1: rgba(252, 245, 232, 1);
$color-text2: rgb(243, 216, 165);

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
@mixin tablet {
    @media only screen and (min-width: 992px) {
        @content;
    }
}
